body{
    margin: 0;
    background-color:rgb(177, 177, 177);
}
#conteiner1{
    height: 900px;
    width: 100%;
    background-color: white;    
}
#container2{
    height: 900px;
    width: 600px;
    background-color: blue;
    position: relative;
    margin: auto;

}
#botaopublicar{
    width: 80px;
    height: 20px;
}
#textopublicado{
    font-size: 18px;
    color: black;
    position: relative;
    display: flex;
    height: 100px;
    width: 600px;
}